{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "helpers": "./src/Hesslpers",
        
      }
    }],

    ["babel-plugin-inline-import", {
      "extensions": [
        ".svg"
      ]
    }]
  ]
}